
//Colors
$base-color: #fff;
$block-color: #7C1BB6;
$another-block-color: #393439;
$span-text-color: #7C1BB6;
$another-text-color: #fff;
$main-footer-text-collor: #393439;


//Sizes  
$button-see-more-height: 60px;
$button-see-more-width: 240px;
$padding-for-articles: 40px 26px;
$music-icons-height: 160px;
$music-icons-width: 150px;
$sm-logo-width: 40px;
$sm-logo-height: 40px;
$radius-for-blocks:10px;

//Responsive size (min-width: 520) nad (orientation:portrait)
$padding-for-articles-portrait: 40px 60px;


//Text-properties
$h1-font-family: 'Inconsolata', monospace;
$menu-font-family: arial, sans-serif;
$content-font-family: 'Raleway', sans-serif;
$box-shadow-for-elements: 7px 7px 7px 0px rgba(199,199,199,1);


//Margins
$center-object: 0 auto;
